<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959632932831-n76khjl9r0gb1penul7l4obdoqtlouss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959632932831-n76khjl9r0gb1penul7l4obdoqtlouss</string>
	<key>API_KEY</key>
	<string>AIzaSyCMVz_qgtcQTGbrPcrdLsKECSd0wSoT_p4</string>
	<key>GCM_SENDER_ID</key>
	<string>959632932831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Aamer-Essa.zelda</string>
	<key>PROJECT_ID</key>
	<string>zelda-9911a</string>
	<key>STORAGE_BUCKET</key>
	<string>zelda-9911a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959632932831:ios:9d7e6caa9b647bdc5b4e6a</string>
</dict>
</plist>