<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1329610044502072</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.971944194065-k3rifo017tr9tjec4lso02hd4ckfpq81</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1329610044502072</string>
	<key>FacebookClientToken</key>
	<string>b731604ccf842187890ead714c2964be</string>
	<key>FacebookDisplayName</key>
	<string>Zelda</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
</dict>
</plist>
